.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    
}

.heading {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover .thumbnail {
    transform: scale(1.05);
}

.details {
    padding: 15px;
}

.name {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.instructions {
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3c3c3c;
}

.category {
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
}

.area {
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
}




/* Responsividade */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .thumbnail {
        height: 150px;
    }
}